<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>
<body>
    <div>
        <!-- Logo -->
        <div>
            <h1>Zing & NhacCuaTui</h1>
        </div>
        <!-- Form Input -->
        <div>
            <form action="#" onsubmit="getlink()">
                Link : <input type="text">
                <input type="checkbox" id="ispl">Playlist
                <input type="submit" value="GET">
            </form>
        </div>
        <!-- Result -->
        <div>
            <textarea></textarea>
        </div>
        <!-- Info -->
        <div>
            <p>Designed with all the &#10084; in the world by hainguyen31794.</p>
        </div>
    </div>
    <script type="text/javascript" src="static/music.js"></script>
</body>
</html>